.container {
    background: #fff;
    min-height: calc(100vh - 889px);
    min-width: 980px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.content {
    width: 100%;
    max-width: 1210px;
    min-width: 990px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px 50px 30px;
    visibility: hidden;

    &.active {
        animation: fadeInDown 1s ease-in-out 0.48s 1 normal;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInDown {
        0% {
            display: none;
            position: relative;
            bottom: -80px;
            visibility: hidden;
            opacity: 0;
        }

        100% {
            display: flex;
            position: relative;
            bottom: 0;
            visibility: visible;
            opacity: 1;
        }
    }

    .list_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 30px;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            margin-bottom: 20px;

            &::before {
                position: absolute;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
                content: '';
                width: 10px;
                height: 10px;
                background: #B6021F;
                border-radius: 50%;
            }

            >div:first-child {
                width: 799px;
                font-size: 18px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #333333;
                line-height: 28px;

                &:hover {
                    color: #860200;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            .time {
                font-size: 18px;
                font-family: SourceHanSansCN-Normal, SourceHanSansCN;
                font-weight: 400;
                color: #666666;
            }
        }
    }

    .pagination_box {
        width: 100%;
        align-items: center;
        position: relative;
        right: -32px;
        margin-top: 30px;

        >.jump_input {
            align-items: center;

            >input {
                width: 45px;
                height: 30px;
                border-radius: 4px;
                border: 1px solid #BEBEBE;
                line-height: 30px;
                font-size: 16px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #999999;
                text-align: center;
            }

            span {
                display: inline-block;
                font-size: 16px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #666666;
                line-height: 30px;
                margin: 0 10px;
            }
        }
    }
}